.grid-m{
	display: grid;
	grid-template-columns: 1fr;
}

.admission,.admission .form-area,
.form-area .form-text, .how,.instructions,
.how .content,.programs,.ICRI,
.ICRI .about,.ICRI .about .content,
.ICRI .why, .awards,.recruiters{
	grid-template-rows: auto auto;
}

.form-area .form{
	grid-template-rows: repeat(8,auto);
}

.how .content .labels{
	grid-template-columns: repeat(4,auto);
	grid-template-rows: auto;
	justify-content: center; 
}

.ICRI .why .content{
	grid-template-rows: repeat(4,auto);
}

.programs .content{
	grid-template-rows: repeat(5,auto);
	grid-row-gap: 1rem;
}

.instructions .content .list,
.programs .content .tab-content2,
.programs .content .tab-content3,
.programs .content .tab-content4{
	grid-template-rows: repeat(4,auto);

}

.tab1,.tab2,.tab3,.tab4,.tab-content1,
.tab-content2,.tab-content3,.tab-content4,
.tab-content5{
	display: none;
}

#toggle1:checked ~ .tab-area .tab1,
#toggle2:checked ~ .tab-area .tab2,
#toggle3:checked ~ .tab-area .tab3,
#toggle4:checked ~ .tab-area .tab4,
#tab1:checked ~ .tab-content1,
#tab2:checked ~ .tab-content2,
#tab3:checked ~ .tab-content3,
#tab4:checked ~ .tab-content4,
#tab5:checked ~ .tab-content5{
	display: grid;
}

.programs .content .tab-content1,
.programs .content .tab-content5{
	grid-template-rows: auto auto;
}

/*awards*/
.awards .content .labels{
	display: none;
}

.tab-area .slider1 .pic1,
.tab-area .slider1 .pic2,
.tab-area .slider1 .pic3 {
	display: grid;
	grid-template-columns: auto auto;
} 

.slider1,.slider2,.slider3{
	display: none;
}

.recruiters .content .labels{
	grid-template-columns: repeat(5,auto);
	grid-template-rows: auto;
	justify-content: center;
}

.recruiter1,.recruiter2,.recruiter3,
.recruiter4,.recruiter5{
	display: none;
}

#one:checked ~ .tab-area .recruiter1,
#two:checked ~ .tab-area .recruiter2,
#three:checked ~ .tab-area .recruiter3,
#four:checked ~ .tab-area .recruiter4,
#five:checked ~ .tab-area .recruiter5{
	display: grid;
}

.recruiter{
	grid-template-columns: repeat(6,auto);
	grid-template-rows: auto;
}

.footer{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}


/*styling*/

*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	line-height: 1.6;
	font-family: 'Raleway', sans-serif;
}

.p-all{
	padding: 5rem 3rem;
}

@media screen and (min-width: 800px){
.p-all{
	padding: 5rem 6rem;
}
}

.img{
	width: 100%;
	height: auto;
}

.color-lightgrey{
	color: #686464;
}

.color-darkgrey{
	color: #333333;
}

.color-pink{
	color: #EB204A;
}

.font-bold{
	font-weight: bold;
}

.font-20{
	font-size: 20px;
}

.font-18{
	font-size: 18px;
}

.font-14{
	font-size: 14px;
}

a:link,
a:visited{
	text-decoration: none;
	cursor: pointer;
}

button{
	border: none;
	outline: none;
	border-radius: 4px;
	padding: 1.5rem 2rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"]{
	display: none;
}


@media screen and (min-width: 992px){
	#control1:checked ~ .tab-area .slider1,
	#control2:checked ~ .tab-area .slider2,
	#control3:checked ~ .tab-area .slider3{
		display: grid;
	}

	.awards .content .labels{
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		justify-content: center;
	}

	.awards .content .tab-area .slider{
		grid-template-columns: repeat(4,auto);

	} 
}